body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-82px;
  width:657px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:88px;
  width:300px;
  height:192px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:134px;
  width:284px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#008000;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:212px;
  width:90px;
  height:51px;
  font-size:20px;
  color:#008000;
}
#u827_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#008000;
}
#u827.mouseOver {
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:212px;
  width:90px;
  height:51px;
  font-size:20px;
}
#u828_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u828.mouseOver {
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:263px;
  height:6px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:75px;
  width:260px;
  height:3px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:52px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:88px;
  width:300px;
  height:192px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:134px;
  width:284px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#008000;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:212px;
  width:90px;
  height:51px;
  font-size:20px;
  color:#008000;
}
#u833_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#008000;
}
#u833.mouseOver {
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:212px;
  width:90px;
  height:51px;
  font-size:20px;
}
#u834_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u834.mouseOver {
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:263px;
  height:6px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:75px;
  width:260px;
  height:3px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:52px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
